body {
  margin: 0;
}

// Cores
$primary: hsl(212, 45%, 89%);

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100&family=Outfit:wght@400;500&display=swap");

main {
  background-color: $primary;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Outfit", sans-serif;

  .first-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 60%;
    border-radius: 20px;
    img {
      width: 91%;
      border-radius: 10px;
      margin: auto;
    }
    h1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 22px;
      font-weight: bold;
      color: hsl(218, 44%, 22%);
      margin-bottom: -4px;
    }
    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      opacity: 0.9;
      color: hsl(220, 15%, 55%);
    }
  }
}

@media screen and (max-width: 375px) {
}
